.App {
  text-align: center;
  background-color: white;
  width: 96vw;
  height: 95vh;
  display: flex;
  flex-direction: row-reverse;
  padding: 15px;
}

.Square {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  width: 3vw;
  height: 6vh;
}
